__pycache__/*.pyc
*.sqlite3
.vscode/settings.json
*/__pycache__/__init__.cpython-38.pyc
*/__pycache__/__init__.cpython-312.pyc
*/__pycache__/*.*.pyc
*/*/__pycache__/*.*.pyc
.env
/venv
ddddd.mmd
.env copy
backup2.sql
backup3.sql
